@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-items: baseline;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #fffddd;
  font-family: "Playfair Display";
  color: black;
}

h1 {
  background-image: url(https://media.giphy.com/media/JsEF4IkFC7gEM23aGE/giphy.gif);
  font-family: "Monoton";
  text-align: center;
  background-size: cover;
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  text-transform: uppercase;
  font-size: 7em;
  line-height: 0.75;
  margin: 6% 5%;
  border: 30px solid transparent;
  padding: 15px;
}

#form {
  display: flex;
  flex-direction: column;
  flex-direction: column;
  justify-content: space-between;
  justify-items: center;
  align-content: space-between;
  align-items: center;
  font-size: larger;
}

#search {
  width: 90vw;
  height: 10vh;
  background-color: #fffddd;
  color: #403f37;
  font-size: larger;
}

#submit-btn {
  margin-top: 3%;
  width: 30vw;
  height: 10vh;
  background-color: #403f37;
  border: 2px solid #403f37;
  border-radius: 8px;
  color: #fffddd;
  cursor: pointer;
  display: flex;
  justify-items: center;
  align-items: center;
  font-family: Inter, sans-serif;
  font-size: 16px;
  height: 48px;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  text-align: center;
  text-decoration: none;
}

.radio-group {
  margin: 5%;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  justify-items: flex-start;
  align-items: center;
  justify-content: space-between;
  align-content: space-between;
  gap: 2%;
}

#resultsList {
  list-style-type: none;
  justify-content: center;
  width: 100%;
  gap: 2%;
  padding: 0;
  height: auto;
  display: inline-flex;
  flex-direction: row;
  align-content: space-between;
  flex-wrap: wrap;
  list-style: none;
}

.list-element {
  padding: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-between;
}

ul > li {
  margin: 2%;
  flex: 1 1 40%;
}

ul li {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  justify-items: center;
  align-content: space-between;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 10px;
  padding: 1%;
}

.list-img {
  align-self: flex-start;
  width: 50%;
  height: auto;
  margin: 2%;
}

.book-div {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.book-info-div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  justify-items: center;
  align-content: space-between;
  align-items: center;
  width: 50%;
  height: auto;
  margin: 2%;
}

h3 {
  align-self: center;
  font-size: large;
  margin: 5px;
  text-align: center;
}

h4 {
  align-self: center;
  margin: 5px;
  text-align: center;
}

.SHOW_MORE_BTN {
  align-self: center;
  margin: 3%;
  width: 30vw;
  height: 10vh;
  background-color: #e6e4c8;
  border: 2px solid #403f37;
  border-radius: 8px;
  color: #403f37;
  cursor: pointer;
  font-family: Inter, sans-serif;
  font-size: 16px;
  height: 48px;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  text-align: center;
  text-decoration: none;
}
.SHOW_MORE_BTN:hover {
  outline: 0;
  background-image: linear-gradient(
    90deg,
    #00c0ff 0%,
    #68fc55 49%,
    #fc4f4f 80%,
    #00c0ff 100%
  );
  animation: slidebg 5s linear infinite;
}
@media screen and (min-width: 1024px) {
  #submit-btn:hover {
    outline: 0;
    background-image: linear-gradient(
      90deg,
      #00c0ff 0%,
      #68fc55 49%,
      #fc4f4f 80%,
      #00c0ff 100%
    );
    animation: slidebg 5s linear infinite;
  }
  @keyframes slidebg {
    to {
      background-position: 20vw;
    }
  }
}
@media screen and (max-width: 480px) {
  h1 {
    font-size: 2em;
    line-height: 0.75;
  }
  ul > li {
    margin: 2%;
    flex: 1 1 80%;
  }
  #search {
    width: 80vw;
    height: 10vh;
    font-size: larger;
  }
  .radio-group {
    flex-direction: column;
    line-height: 1;
    flex-wrap: wrap;
  }
  .radio-search {
    margin: 5%;
  }
}
@media screen and (min-width: 480px) and (max-width: 1023px) {
  body {
    font-size: 2em;
  }
  h1 {
    font-size: 3em;
    line-height: 0.75;
  }
  ul > li {
    margin: 2%;
    flex: 1 1 80%;
  }
  #search {
    width: 80vw;
    height: 10vh;
    font-size: larger;
  }
  .radio-group {
    flex-direction: column;
    line-height: 1;
    flex-wrap: wrap;
  }
  .radio-search {
    margin: 5%;
  }
}
